<mat-toolbar>
  <span class="toolbar__heading">Dummify</span>
  <span class="spacer"></span>
  <select class="lang-select" (change)='handleLangChange($event)'>
    <option value="en">English</option>
    <option value="hi">हिंदी</option>
    <option value="fr">Français</option>
  </select>
  <button mat-raised-button color="link" routerLink="/registration">{{'registrations' | translate}}</button>
  <button mat-raised-button color="link" routerLink="/movies">{{'movies' | translate}}</button>
  <button mat-raised-button color="link" routerLink="/maps">{{'maps' | translate}}</button>
</mat-toolbar>

<router-outlet></router-outlet>