<div class="mat-elevation-z8">
    <mat-table [dataSource]='dataSource'>

        <ng-container matColumnDef="thumbnail">
            <mat-header-cell *matHeaderCellDef> {{'image'|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> <img class="thumbnail"
                    [src]="'https://image.tmdb.org/t/p/w500'+element.poster_path"> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> {{'title' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rating">
            <mat-header-cell *matHeaderCellDef> {{'rating' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.vote_average}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="release">
            <mat-header-cell *matHeaderCellDef> {{'release-date'|translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.release_date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="overview">
            <mat-header-cell *matHeaderCellDef>{{'overview'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.overview}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit-overview">
            <mat-header-cell *matHeaderCellDef>{{'edit-overview'|translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-raised-button (click)='handleEditClick(element)'>{{'edit-overview'|translate}}</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSize]="10" [length]="49" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>